<%- include('../templates/head.ejs') %>
   <aside class="menu">
      <ul class="menu-list">
        <div class="columns">
          <div class="column">
            <div class="row">
              <img class="icon" src="../media/casa.png" alt="inicio" />
              <a>Inicio</a>
            </div>
            <div class="row">
              <img
                class="icon"
                src="../media/lista.png"
                alt="proyectos"
              />
              <a>Proyectos</a>
            </div>
            <div class="row">
              <img
                class="icon"
                src="../media/agregar.png"
                alt="crear proyecto"
              />
              <a>Mis Tareas</a>
            </div>
            <li class="cerrarSesion">Cerrar Sesion</li>
          </div>
        </div>
        <!-- <li class="cerrarSesion">Cerrar Sesion</li> -->
      </ul>
    </aside>
  </body>
</html>
